<h2>Agregar Video</h2>

<form [formGroup]="videoForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="mb-3">
        <label class="form-label"> Link</label>
        <input formControlName="linkvideo" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label"> Titulo </label>
        <input formControlName="titulovideo" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label"> Descripcion </label>
        <input formControlName="descripcionvideo" type="text" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary"> Agregar </button>

</form>