<section class="home" id="home">
    <div class="home-content">
        <script></script>
        <h3>Hola,  Soy</h3>
        <h1>Leonel Del Prado</h1>
        
        <h3> <span class="multiple-text"></span></h3>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid perferendis enim nemo magnam harum atque numquam consectetur voluptatum vitae, nostrum reprehenderit autem placeat non eaque laudantium optio unde necessitatibus saepe.</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/leonel-del-prado-058297105/"target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://www.facebook.com/leo.delprado.3/"target="_blank"><i class='bx bxl-facebook' ></i></a>
            <a href="https://www.instagram.com/dp_leonel/"target="_blank"><i class='bx bxl-instagram-alt' ></i></a>
            <a href="https://udelar.academia.edu/LeonelDelPrado"target="_blank"><i class='bx' ><b>A</b> </i></a>
            <a href="http://localhost:4200/home-edit"target="_blank"><i class='bx bx-edit-alt'></i></a>
        </div>
        <a href="http://www.gepade.edu.uy/" class="btn" target="_blank">Gepade</a>
    </div>

    <div class="home-img">
        <img src="assets/img/perfil2.jpg" alt="">
    </div>
</section>
