
<section class="about" id="about">
    <div class="about-img">
        <img src="assets/img/profile-pic.png" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Sociologist</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt voluptate impedit similique perferendis iste laboriosam. Numquam ex, a culpa dolor impedit blanditiis, enim quos optio sunt quam praesentium facilis molestiae?</p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>
