
<section class="about" id="about">
    <div class="about-img">
        <img *ngFor="let about of About" src= {{about.imgabout}} alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">Sobre <span>Mí</span></h2>
        
        <h3></h3>
        <p *ngFor="let about of About"> {{about.textoabout}}
            </p>
            <div class="social-media">
                <a *ngFor="let about of About" routerLink="/about-edit/{{about.id}}" target="_blank"><i class='bx bx-edit-alt'></i></a></div>
        <!-- <a href="#" class="btn">Read More</a> -->
    </div>
</section>
