<h2>Componente EDIT</h2>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="mb-3">
        <label class="form-label"> imagen</label>
        <input formControlName="imghome" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label"> texto </label>
        <input formControlName="textohome" type="text" class="form-control" required>
    </div>
    

    <button type="submit" class="btn btn-primary"> Actualizar </button>

</form>