
<section class="portfolio" id="videos">
    <h2 class="heading">Videos y <span>Proyectos</span></h2>

    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src="assets/img/portfolio1.jpg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">
                    <i class='bx bx-link-external' ></i>
                </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/img/portfolio2.jpg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">
                    <i class='bx bx-link-external' ></i>
                </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/img/portfolio3.jpg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">
                    <i class='bx bx-link-external' ></i>
                </a>
            </div>
        </div>
    </div>
</section>
